body {
    overflow-x: hidden;
}

*:focus {
    outline: none !important
}


/* conflicted with userpref v icon
a:focus,
a:visited,
a:active {
    background: transparent;
}*/


/* ----------------- Carousel -------------- */

.carousel {
    margin-top: 20px;
}

.carousel .item {
    min-height: 280px;
    /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.carousel .item img {
    margin: 0 auto;
    /* Align slide image horizontally center */
}

.bs-example {
    margin: 20px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
}

.carousel-control,
.carousel-control:focus {
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

.carousel-control:hover {
    color: #E7993D;
}


/* ----------------- Top Banner -------------- */

#banner-section {
    background: url('https://recruiterintel.com/images/top-banner-bg.jpg') no-repeat center;
    padding: 5px 0 35px;
    text-align: center;
}

#banner-section h2 {
    font-family: Roboto;
    font-size: 45px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}

#banner-section .input-group {
    padding: 0 20% 3px;
}

#banner-section .form-control {
    padding: 8px 14px;
    font-size: 19px;
    font-family: Roboto;
    font-weight: 300;
}

#banner-section .btn-primary {
    padding: 9px 29px 7px;
    text-transform: uppercase;
    font-family: Roboto;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 600;
    background: #ec9b36;
    border-color: #ec9b36;
}

#banner-section h3 {
    margin-top: 8px;
    font-size: 19px;
    color: #d4d4d4;
    font-family: Abel;
    font-weight: 400;
}


/* ----------------- Advantages Section -------------- */

.four-box img {
    height: auto;
    padding-top: 10px;
    width: 50px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.four-box a {
    font-size: 14px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 100;
    line-height: 1.4;
    vertical-align: top;
    border: transparent solid 1px;
    padding: 0 20px;
    border: none;
    color: #b7b7b7;
}

.four-box h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    line-height: 1.4;
    margin-top: 17px;
    text-align: left;
}

.four-box a:hover {
    border-radius: 16px;
}

.four-box a:visited,
.four-box a:active,
.four-box a:link,
.four-box a:hover {
    background: none;
    text-decoration: none;
    border: none;
}

#four-iconbox {
    padding: 40px 5%;
    background: #2B2F33;
}

.four-box .col-md-2 {
    width: 18.666667%;
    float: none;
    display: inline-block;
}

.cta-btn {
    background: #ea9b35;
    padding: 12px 20px;
    display: block;
    margin: 15px auto 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    width: 300px;
    text-decoration: none;
    border-radius: 4px;
}

.cta-btn:active,
.cta-btn:focus {
    background: #ea9b35;
    text-decoration: none;
    color: #fff;
}

.cta-btn:hover {
    background: #434F6C;
    color: #fff;
    text-decoration: none;
}

.newsletter-subscribe form .btn-primary {
    background-color: #eb9b36 !important;
    border: none;
    font-size: 18px;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
}

.newsletter-subscribe form .btn-primary:hover {
    background-color: #444F6B !important;
}

.newsletter-subscribe {
    background: #fff;
    padding: 40px 0;
}

.newsletter-subscribe .intro {
    margin-bottom: 20px;
}

.newsletter-subscribe h2 {
    color: #060606;
    font-size: 34px;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 20px;
}

.features-boxed {
    background: url('https://recruiterintel.com/images/contact-us-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 50px 0 10px;
    text-align: center;
}

.features-boxed-title {
    text-align: center;
}

.city-btn,
.city-btn:focus,
.city-btn:active {
    padding: 10px 20px;
    background: #becada;
    border-radius: 4px;
    color: #6489b8;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    border: #becada solid 1px;
    text-decoration: none;
}

.city-btn:hover {
    text-decoration: none;
    background: #25cfe4;
    border-color: #25cfe4;
    color: #fff;
}

.features-boxed h2 {
    font-size: 40px;
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.features-boxed .features {
    padding: 10px 0;
}

.explain-font {
    color: #58759b !important;
    font-weight: 500 !important;
}

.features-boxed .item .box {
    text-align: left;
    padding: 0 0 40px 0;
    margin: 20px;
    display: inline-table;
    width: 350px;
    transition: all 0.5s ease;
    background: #F6F8F9;
    -webkit-box-shadow: 2px 3px 16px -1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 2px 3px 16px -1px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 3px 16px -1px rgba(0, 0, 0, 0.21);
}

.features-boxed .container {
    width: 60%;
    padding: 0;
}

.features-boxed .rtitle {
    font-family: Roboto;
    text-decoration: none;
    border-radius: 3px;
    color: #313131;
    font-size: 21px;
    font-weight: 500;
    display: inline-block;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 22px;
}

.features-boxed .city {
    display: inline-block;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background: #eb9b36;
    padding: 3px 7px;
    border-radius: 5px;
    letter-spacing: 0.2px;
}

.role-type {
    background: #414f6c;
    color: #fff;
    padding: 12px 15px;
    display: inline-block;
    margin: 8px 0 0;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    border-radius: 0 6px 6px 0;
    letter-spacing: 0.6px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 42px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 30px solid #414f6c;
    display: inline-block;
    margin-bottom: -15px;
}

.timehead {
    color: #eb9b36 !important;
    letter-spacing: 0.5px;
    margin-top: 27px !important;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: Roboto;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    float: right;
}

.timehead img {
    margin-right: 5px !important;
    margin-top: -3px !important;
}

.title-city {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 0 35px;
    height: 100px;
}

.features-boxed .rtitle:hover {
    text-decoration: underline;
}

.linkedin-icon {
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.linkedin-icon img {
    float: right;
    width: 70px;
}

.recruiter-info {
    text-align: left;
    padding: 0 35px;
    height: 150px;
}

.hr-title {
    font-family: Roboto;
    font-weight: 600;
    color: #344871;
    text-transform: uppercase;
    font-size: 15px;
}

.hr-name {
    font-size: 18px;
    font-family: Roboto;
    color: #212121;
    display: inline-block;
    margin-top: -3px;
    margin-bottom: -2px;
    text-transform: uppercase;
    line-height: 1;
    padding: 4px 0;
}

.hr-position {
    font-family: Abel;
    color: #2f2f2f;
    font-size: 14px;
    letter-spacing: 0.3px;
    display: inline-block;
    line-height: 1.2;
    margin-top: 3px;
}

.company-name {
    font-family: Roboto;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 22px;
    display: inline-block;
    color: #ec9b36;
    font-weight: bold;
    text-align: center;
    width: 100%;
    line-height: 1;
    padding: 0 20px;
}

.save-share-card {
    text-align: center;
}

.icon-link1 {
    background: url('https://recruiterintel.com/images/user.png') no-repeat center;
    background-size: contain;
    width: 22px;
    height: 22px;
    display: inline-block;
    transition: all 0.5s ease;
}

.icon-link2 {
    background: url('https://recruiterintel.com/images/star3.png') no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 7px;
    transition: all 0.5s ease;
}

.icon-link3 {
    background: url('https://recruiterintel.com/images/share.png') no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    transition: all 0.5s ease;
}

.icon-link1:hover,
.icon-link1:active,
.icon-link1:focus {
    background: url('https://recruiterintel.com/images/user-hover.png') no-repeat center;
    background-size: contain;
}

.icon-link2:hover,
.icon-link2:active,
.icon-link2:focus {
    background: url('https://recruiterintel.com/images/star3-hover.png') no-repeat center;
    background-size: contain;
}

.icon-link3:hover,
.icon-link3:active,
.icon-link3:focus {
    background: url('https://recruiterintel.com/images/share-hover.png') no-repeat center;
    background-size: contain;
}

#cboxClose {
    top: 0;
}

#report-section {
    text-align: center;
    background: url('https://recruiterintel.com/images/why-us-background.jpg') no-repeat bottom fixed;
    background-size: cover;
}

#report-section h2 {
    font-size: 40px;
    color: #272727;
    font-family: Roboto;
    font-weight: 300;
    margin: 0px 0 25px;
}

#report-section h3 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #ec9b36;
}

.box1,
.box2,
.box3 {
    background: #f6f8f9;
    padding: 25px 40px;
    border-radius: 10px;
    margin-bottom: 15%;
    -webkit-box-shadow: 2px 3px 16px -1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 2px 3px 16px -1px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 3px 16px -1px rgba(0, 0, 0, 0.21);
}

#report-section h4 {
    font-family: Roboto;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1px;
    margin-bottom: 12px;
    color: #344871;
}

.adv-list {
    height: 220px;
    border-bottom: #d9e1f5 solid 1px;
    margin-bottom: 20px;
}

.adv-list:last-child {
    border: none;
    margin-bottom: 0;
}

.adv-list p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
}

.nav-pills {
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-pills>li {
    float: none;
    display: inline;
}

.nav-pills>li>a {
    background: #eb9b36 !important;
    border: #ec9b36 solid 1px !important;
}

.nav-pills>li>a:hover {
    background: #434f6c !important;
    border: #434f6c solid 1px !important;
}

.city-list {
    float: right;
}

.city-list .dropdown-menu>li>a:hover {
    background-color: #ddd !important;
}

.city-list .dropdown-menu {
    padding: 0;
}


/* ----- Contact Form CSS ---- */

#contact-section {
    padding: 50px 0 30px;
    background: #eff3f7 url(../images/fixed-bg.jpg);
    background-size: cover;
    text-align: center;
}

#contact-section h2 {
    font-size: 45px;
    color: #505d77;
    font-family: Roboto;
    font-weight: 300;
    margin: 0;
}

#contact-section p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    color: #505d77;
}

#contact-section .form-control {
    height: 47px;
    border: none;
    opacity: 0.9;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#contact-section .btn-primary {
    background: #ea9b35;
    padding: 12px 20px;
    display: block;
    margin: 5px auto 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    width: 300px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
}

#contact-section .btn-primary:hover {
    background: #2C2F33;
    color: #fff;
}

#contact-form {
    margin-top: 25px;
    padding: 0 15%;
}

#contact-section textarea {
    height: 120px !important;
    color: #a0a0a0;
}

.carousel-indicators {
    bottom: -35px;
}


/* ------------- LOGIN MODAL ------------ */

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 23px;
    font-family: Roboto;
    margin: 0;
    font-weight: 400;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: none;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #ea9b35;
    padding: 14px 0px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-size: 16px;
}

.loginmodal-submit:hover {
    border: 0px;
    background-color: #444F6B;
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 14px;
}

.login-help a:hover {
    color: #ff4d15;
}

.registered_status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: green;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border: 1px solid green;
    z-index: 99999;
}


/* ----------- Checkbox Style CSS ------------ */

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 20px;
    margin-left: -25px;
    border: #ccc solid 1px;
}

.check-container:hover input~.checkmark {
    background-color: #ccc;
    border: #ccc solid 1px;
}

.check-container input:checked~.checkmark {
    background-color: #4AB268;
    border: transparent solid 1px;
}

.check-container input:checked~.checkmark:hover {
    background-color: #3a8c51;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ----------------   Media Queries  ---------------- */

@media (max-width: 44600px) {
    .demovideo {
	height:460px;
	width:683px;
    }
    #four-iconbox {
        padding: 40px 2%;
    }
}

@media (max-width: 1600px) {
    .demovideo {
	height:460px;
	width:683px;
    }
    #four-iconbox {
        padding: 40px 2%;
    }
}

@media (max-width: 1440px) {
    .demovideo {
	height:460px;
	width:683px;
    }
   #four-iconbox a {
        padding: 0;
    }
}

@media (max-width: 1024px) {
    .demovideo {
	width:640px;
    }

    .city-btn {
        font-size: 14px;
    }
    .four-box .col-md-2 {
        width: 29%;
        float: none;
        display: inline-block;
        margin-bottom: 10px;
    }
}

@media (max-width: 1000px) {
    .demovideo {
	width:600px;
    }

    #banner-section h2 {
        font-size: 34px;
    }
}

@media (max-width: 980px) {
     .demovideo {
	width:600px;
    }

   #contact-section {
        padding: 5% 0 8%;
    }
    #banner-section .input-group {
        padding: 0 10% 3px;
    }
    .features-boxed h2 {
        margin-top: 0;
        padding: 0;
        font-size: 38px;
    }
    .adv-list {
        height: auto;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
    .box1,
    .box2,
    .box3 {
        margin-bottom: 30px;
        padding-bottom: 35px;
    }
}

@media (max-width: 800px) {
     .demovideo {
	width:367px;
    }

   .four-box .col-md-2 {
        width: 37%;
    }
    .features-boxed h2 {
        font-size: 30px;
    }
    .features-boxed .features {
        padding: 0;
    }
    .features-boxed .item .box {
        margin: 10px 20px;
    }
    #contact-section h2 {
        font-size: 36px;
    }
    #report-section h2 {
        font-size: 35px;
        margin: 30px 0 30px;
    }
    #report-section h3 {
        font-size: 27px;
        margin-bottom: 15px;
    }
}

@media (max-width: 750px) {
    .demovideo {
	width:400px;
    }


    #report-section h3 {
        font-size: 26px;
    }
    #banner-section h2 {
        font-size: 26px;
    }
    #banner-section {
        background: url('https://recruiterintel.com/images/top-banner-bg.jpg') no-repeat center;
        padding: 25px 0 25px;
        text-align: center;
        padding-top: 25px;
    }
    .features-boxed .container {
        width: 100%;
    }
    .cta-btn {
        font-size: 19px;
        letter-spacing: 1px;
    }
    #contact-form {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .demovideo {
	width:355px;
    }


    #report-section h3 {
        font-size: 26px;
    }
    #banner-section h2 {
        font-size: 26px;
    }
    .newsletter-subscribe {
        padding: 20px 0 0;
    }
    .newsletter-subscribe h2 {
        font-size: 20px;
        line-height: 1.2;
    }
    #subsform textarea {
        width: 100% !important;
    }
    .newsletter-subscribe form .btn-primary {
        margin: 0;
        font-size: 18px;
        width: 100%;
    }
    .form-group {
        margin-bottom: 12px;
        margin-top: -6px;
    }
    #contact-section .btn-primary {
        font-size: 16px;
        width: 100%;
    }
    #banner-section .input-group {
        padding: 0 0 10px;
    }
    #banner-section .btn-primary {
        font-size: 15px;
        padding: 10px 12px 9px;
    }
    #banner-section {
        background: url('https://recruiterintel.com/images/top-banner-bg.jpg') no-repeat center;
        padding: 25px 0 25px;
        text-align: center;
        padding-top: 25px;
    }
    .four-box .col-md-2 {
        width: 60%;
    }
    .features-boxed h2,
    #report-section h2 {
        font-size: 33px;
        padding: 0 30px;
    }
}

@media (max-width: 375px) {
    .demovideo {
      width:355px;
    }


    #report-section h3 {
        font-size: 26px;
    }
    .features-boxed .item .box {
        width: 300px;
    }
    .features-boxed h2 {
        font-size: 28px !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    #banner-section h2 {
        font-size: 23px;
        padding: 0 20px;
    }
    .inline {
        width: 100%;
    }
    .title-city {
        height: auto;
    }
}

@media (max-width: 360px) {
    .demovideo {
      width:355px;
    }

    #report-section h3 {
        font-size: 26px;
    }
    #banner-section h2 {
        font-size: 22px;
    }
    .four-box .col-md-2 {
        width: 67%;
    }
    #banner-section .btn-primary {
        letter-spacing: 0;
    }
}

@media (max-width: 320px) {
    .demovideo {
      width:355px;
    }

    .four-box .col-md-2 {
        width: 80%;
    }
    .features-boxed .item .box {
        margin: 10px 16px;
        width: 260px;
    }
    .linkedin-icon img {
        width: 50px;
    }
    .recruiter-info {
        height: auto;
    }
    .features-boxed h2,
    #report-section h2,
    #contact-section h2 {
        font-size: 30px;
        padding: 0 30px;
    }
}
